.container.coupons
  background color_xlight
  padding 20px 30px
  line-height 20px
  .header
    color honey_orange
    font-size 18pt
    line-height 20px
    margin-bottom 20px
  .number
    float right
  .view-all
    clickable()
    margin-top: 50px
    text-align: center
    background: honey_orange
    border-radius: 3px
    padding: 5px
    color white
    border 1px solid gray
    &:hover
      border-color orange
    
  .posted-by
    font-size 11pt
    color gray
    display block
    margin-top 18px
    strong
      color black
      font-weight bold
      
.honey-coupon:hover, .quest-coupon:hover
  .list-item 
    .code 
      color white
    .icon
      color white
      border-color honey_orange
      i
        color white
    
.honey-coupon, .quest-coupon
  .details
    clickable()
    float right
    font-size: 12px
    color: orange
    &:after
      content: '+'
      background: #ffa500
      color: #fff
      width: 10px
      height: 10px
      border-radius: 24px
      margin-left: 5px
      padding-left: 1px
      padding-bottom: 1px
      line-height: 12px
      display: inline-block
  .list-item
    margin-top 10px
    border-radius 5px
    border 1px solid color_dark
    font-size 15px
    height auto
    .code
      color orange
      margin-left 30px
    .description, .expiration
      margin-left 30px
      color gray
      font-size 0.9em
      padding-top 2px
    .icon
      float left
    
.quest-coupon
  .list-item
    .code
      margin-left 6px
      