.container.coupons
  background color_xlight
  padding 20px 30px
  line-height 20px
  height auto
  
  .posted-by
    font-size 11pt
    color gray
    display block
    margin-top 18px
    strong
      color black
      font-weight bold
              
.quest-coupon
  .list-item
    .code
      margin-left 6px
  .details
    clickable()
    float right
    font-size: 12px
    color: orange
    &:after
      content: '+'
      background: #ffa500
      color: #fff
      width: 10px
      height: 10px
      border-radius: 24px
      margin-left: 5px
      padding-left: 1px
      padding-bottom: 1px
      line-height: 12px
      display: inline-block
    &:hover
      color gray
      &:after
        background gray
      