honey_orange = #FABA64
color_xlight = #f3f3f3
color_light  = #e3e3e3
color_med    = #c3c3c3
color_dark   = #a4a4a4

button:focus
  outline none
  
clickable()
  cursor pointer

.container
  height 100%
  width 340px
  font-family 'avenir'
  position absolute
  box-sizing border-box
  .content
    padding 20px 30px
    max-height 100%
    overflow-y scroll
    
.icon
  border: 1px solid gray
  width: 20px
  height: 20px
  border-radius: 15px
  text-align: center
  font-size: 0.7em
  padding: 0px 1px 3px 2px
  box-sizing border-box
  line-height 21px
  i 
    color gray

// navigation
.ext-navbar
  background #F7F7F7
  text-align center
  padding 16px
  .notifs
    clickable()
    float left
  .close 
    clickable()
    float right
  .logo img
      clickable()
      height 25px
  .nav-btn
    font-size 10px
    width 20px
    height 20px
    padding 4px 1px 0 0
    box-sizing border-box
    border-radius 14px
    i.ss-icon 
      color honey_orange
    &:hover
      background honey_orange
      i.ss-icon
        color white
              
// list item
.list-item
  clickable()
  height 70px
  padding 12px
  background white
  border-top 1px solid color_light
  border-bottom 1px solid color_light
  &:hover  
    background honey_orange
    
.list-item.product
  .image
    float left
    img 
      height 100%
      border 1px solid color_light
      padding 4px
      margin 0 12px
      box-sizing border-box
  .title p
    margin 0
    margin-top 12px
    height 24px
    overflow hidden
  .price
    font-size 0.8em
    font-weight bolder
    .verified
      font-weight bolder
      font-size 8px
      width 0
      color white
      padding 4px 4px 1px 5px
      background honey_orange
      border-radius 11px
      position relative

.list-item.deal
  margin-top 10px
  border-radius 5px
  border 1px solid color_dark
  font-size 15px
  height auto
  &:hover
    .code, .icon, .icon i 
      color white
      border-color honey_orange
  .code
    color orange
    margin-left 30px
  .description, .expiration
    margin-left 30px
    color gray
    font-size 0.9em
    padding-top 2px
  .icon
    float left
    
// header for coupons and sales
.header
  color honey_orange
  font-size 18pt
  line-height 20px
  margin-bottom 20px
  .number
    float right
  
// view-all button for coupons and sales
.view-all
  clickable()
  text-align: center
  background: honey_orange
  border-radius: 3px
  padding: 5px
  color white
  border 1px solid gray
  &:hover
    border-color orange
    