button:focus
  outline none
  
a
  color orange
  text-decoration none
  
body
  margin 0
  iframe
    border 1px solid #d0d0d0

h1,h2,h3,h4,h5
  margin 0
  
clickable()
  cursor pointer

.container
  height 100%
  width 340px
  font-family 'avenir'
  position absolute
  box-sizing border-box
  .content
    position relative
    padding 20px 30px
    max-height 100%
    overflow-y scroll
    box-sizing border-box
    height contentHeight - tabHeight