@import './functions'

.container.icavailable    
  background grey_bg
  h1
    color color_main
    font-size 17px
    text-align center
    font-weight lighter
    margin 15px
  .list-item.ic-store
    height 25px
    border 1px solid grey_circleline
    border-radius 5px
    margin 10px 0
    text-align center
    color color_main
    .icon
      float right
    &:hover
      color white
      .icon
        @extend .icon.share-icon:hover