.icon
  border: 1px solid outline_two
  width: 20px
  height: 20px
  border-radius 15px
  background-size 85%
  background-repeat no-repeat
  background-position center
  
.icon.down-arrow
  background-image url('../img/arrow_copy.png')
  &:hover
    background-image url('../img/arrow_copy_white.png')
  
.icon.right-arrow
  transform rotate(-90deg)
  background-image url('../img/arrow_copy.png')
  &:hover
    background-image url('../img/arrow_copy_white.png')
  
.icon.share-icon
  background-image url('../img/arrow_link.png')
  &:hover
    background-image url('../img/arrow_link_white.png')
