.icon
  border: 1px solid grey_circleline
  width: 20px
  height: 20px
  border-radius 15px
  background-size 85%
  background-repeat no-repeat
  background-position center
  &:hover
    border-color transparent
  
.icon.down-arrow
  background-image url('http://storage.googleapis.com/honey-extension/images/assets/arrow_copy.png')
  &:hover
    background-image url('http://storage.googleapis.com/honey-extension/images/assets/arrow_copy_white.png')
  
.icon.right-arrow
  transform rotate(-90deg)
  background-image url('http://storage.googleapis.com/honey-extension/images/assets/arrow_copy.png')
  &:hover
    background-image url('http://storage.googleapis.com/honey-extension/images/assets/arrow_copy_white.png')
  
.icon.notifs-icon
  background-image url('http://storage.googleapis.com/honey-extension/images/assets/bell.png')
  &:hover
    background-image url('http://storage.googleapis.com/honey-extension/images/assets/bell_highlighted.png')

.icon.share-icon
  background-image url('http://storage.googleapis.com/honey-extension/images/assets/arrow_link.png')
  &:hover
    background-image url('http://storage.googleapis.com/honey-extension/images/assets/arrow_link_white.png')

.icon.close-icon
  background-image url('http://storage.googleapis.com/honey-extension/images/assets/exe_yellow.png')
  &:hover
    background-image url('http://storage.googleapis.com/honey-extension/images/assets/exe_white_circle.png')

.icon.check-icon
  background-image url('http://storage.googleapis.com/honey-extension/images/assets/check.png')
