@import './vars'
@import './global'
@import './icons'
@import './tabs'
@import './listItem'
@import './navbar'
@import './profile'
@import './main'

.panels
  padding 50px

iframe
  margin 0
  height 100%
  width 100%
  &.panel
    width 340px
    height 600px
    margin-right 30px
    margin-top 30px
    &.main 
      height 900px