.instant-cash-zone
  text-align center
  .percentage
    width 105px
    margin-left auto
    margin-right auto
    color white
    background #4B4B4B
    height 105px
    border-radius 55px
    font-size 46px
    line-height 108px
  .ic-prompt
    font-weight: bold
    font-size: 1.2em
    margin: 7px 0
  button.activate
    clickable()
    height: 50px
    width: 250px
    background: rgb(250, 202, 114)
    border: 1px solid orange
    border-radius: 3px
    color: white
    font-size: 19px
    &:active
      border 1px solid white
    &:hover
      background-color honey_orange
  .expires
    font-size: 12px
    margin: 12px 0
    

.tabs
  width: 100%
  height 60% //****temp
  background white
  padding-bottom 10px
  width 100%
  .tab
    overflow hidden
    width 100%
    border-top: 1px solid color_light
  .tab-handle
    clickable()
    box-sizing border-box
    height: 45px
    line-height: 27px
    padding: 0px 24px
    background white    
    overflow hidden
    .badge
      display: inline-block
      width: 25px
      height: 25px
      border: 1px solid
      text-align: center
      border-radius: 21px
      font-weight: bold
      overflow hidden
      margin-top 10px
      img
        width 100%
    .title
      position relative
      bottom 8px
      margin-left 10px
    .icon
      float: right
      border: 1px solid gray
      width: 20px
      height: 20px
      border-radius: 15px
      text-align: center
      font-size: 11px
      padding: 0px 1px 3px 2px
      margin-top 10px
      

tdur = 0.3s

.tab:not(.active)
  .tab-handle:hover
    background honey_orange
    .badge
      border-color white
      background-color white
      color honey_orange
    .title
      color white
    .icon
      border-color honey_orange
      color white
      
// transition declaration
  .tab 
    height 45px
    transition height, tdur, ease-out
    .tab-handle
      opacity 1
      height 45px
      transition-property opacity, height
      transition-duration 0.2s, tdur
      transition-delay 0s, 0s
      transition-timing-function ease-in, ease-out
    .tab-content
      text-align center
      background white
      height 0
      opacity 0
      transition-property all
      transition-duration tdur
      transition-timing-function ease-out

  .tab.active
    height 100%
    transition height, tdur, ease-out
    .tab-handle
      opacity 0
      height 45px
      transition-property opacity, height
      transition-duration 0.1s, 0.2s
      transition-delay 0s, 0s
      transition-timing-function ease-out, ease-out
    .tab-content
      opacity 1
      height 100%
      transition-property height
      transition-duration tdur
      transition-timing-function ease-out

      
      