.container.profile
  background color_xlight
  line-height 20px
  box-sizing border-box    
  .content
    height 530px    
    padding-top 180px
  a
    color orange
    text-decoration none

  .form
    input 
      display: block
      width: 100%
      height 30px
      line-height 30px
      margin-bottom 10px
    button
      clickable()
      width 100%
      height 30px
      background honey_orange
      border none
      color white
    .or
      text-align center
      padding 15px 0
    a
      text-align center
      width 100%
      display inline-block
      
  
  .profile-footer
    text-align center
    width 100%
    box-sizing border-box
    padding 25px
    border-top 1px solid color_light
    a
      margin 0 6px