color_main          = #cccccc
color_stroke        = #F29820
color_logo          = #F4B858
color_success_light = #56ef7a
color_success_dark  = #58db52
color_cover_light   = #5cb9ff
color_cover_dark    = #1fa5ff
color_alert_light   = #f08678
color_alert_dark    = #ef7e7b
grey_bg             = #F9F9F9
grey_xlight         = #d1d1d1
grey_light          = #cccccc
grey_med            = #939393
grey_dark           = #414141
grey_circleline     = #e6e6e6

tdur = 0.3s
tabHeight = 45px
contentHeight = 400px