color_bg           = #eee
color_nav          = #fff

color_hover        = #0074D9

outline_one        = #999
outline_two        = #bbb

tdur               = 0.3s
tabHeight          = 45px
contentHeight      = 500px
itemHeight         = 70px