color_one          = #cccccc
color_two          = #F29820
color_bg           = green
color_nav          = red

color_hover        = blue

outline_one        = red
outline_two        = blue

tdur               = 0.3s
tabHeight          = 45px
contentHeight      = 400px
itemHeight         = 70px