border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -o-transition arguments
  border-radius arguments
  
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

box-sizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  -o-box-sizing arguments
  box-sizing arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -o-transform arguments
  transform arguments

clickable()
  cursor pointer