<div class="container coupons">

  <div class="content">
    
    <div class="header">
      <span class="title">
        coupons
      </span>
      <span class="number">
        28
      </span>
    </div>

    <span class="posted-by">Posted by <strong>Honey</strong></span>

    <div class="honey-coupon">
      <div class="list-item coupon">      
        <div class="icon down-arrow"></div>
        <div class="code">COD34U</div>
        <div class="description">
          Extra 25% Off $100 On Sale & Clearance Items Free Shipping
        </div>
        <div class="expiration">
          exp: 3/1/2015
        </div>
      </div>
    </div>

    <div class="honey-coupon">
      <div class="list-item coupon">      
        <div class="icon down-arrow"></div>
        <div class="code">COD34U</div>
        <div class="description">
          Extra 25% Off $100 On Sale & Clearance Items Free Shipping
        </div>
        <div class="expiration">
          exp: 3/1/2015
        </div>
      </div>
    </div>

    <span class="posted-by">Posted by <strong>dandeman</strong></span>

    <div class="quest-coupon">
      <div class="list-item coupon">
        <div class="icon down-arrow"></div>
        <div class="description">
          15% off with <span class="code">COD34U</span>
        </div>
      </div>
      <div class="details">details</div>
    </div>


    <span class="posted-by">Posted by <strong>denmark</strong></span>

    <div class="quest-coupon">
      <div class="list-item coupon">
        <div class="icon down-arrow"></div>
        <div class="description">
          15% off with <span class="code">COD34U</span>
        </div>
      </div>
      <div class="details">details</div>
    </div>

  </div>

  <div class="view-all">
    view all
  </div>

</div>