<div class="container icavailable">

  <div class="content">

    <h1>Honey instant cash available</h1>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        Macy's
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        bloomingdales
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        Bonobos
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        JCPenny
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        bloomingdales
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        Bonobos
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        JCPenny
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        bloomingdales
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        Bonobos
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        JCPenny
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        bloomingdales
      </div>
    </div>

    <div class="list-item ic-store">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        Bonobos
      </div>
    </div>

  </div>

  <div class="view-all">
    view all
  </div>

</div>