<div class="container main">

  <div class="ext-navbar">
    <a class="icon notifs-icon"></a>
    <span class="logo">
      <img src="http://storage.googleapis.com/honey-extension/images/assets/honey_logo.png"/>
    </span>
    <a class="icon close-icon"></a>
    <div id="notifs" hidden>
      These are your notifications
    </div>
  </div>

  <div class="list-item product">
    <span class="image">
      <img src="http://c426931.r31.cf0.rackcdn.com/110RLB9903.jpg"/>
    </span>
    <span class="title">
      <p>Rollerblade Swindler Skates that are fun to skate on</p>
    </span>
    <span class="price">
      <span class="value">
        $113.00
      </span>
      <span class="icon check-icon"></span>
    </span>
  </div>

  <div class="tabs">
    <div class="tab active">
      <div class="tab-handle">
        <span class="badge">5%</span>
        <span class="title">instant cash available</span>
        <span class="icon right-arrow"></span>
      </div>
      <div class="tab-content instant-cash-zone">
        <div class="percentage">
          5%
        </div>
        <div class="ic-prompt">
          instant cash
        </div>
        <button class="activate">
          ACTIVATE
        </button>
        <div class="expires">
          EXPIRES IN 3 HOURS
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="tab-handle">
        <span class="badge">3</span>
        <span class="title">coupons</span>
        <span class="icon right-arrow"></span>
      </div>
      <div class="tab-content">
        {{> coupons }}
      </div>
    </div>

    <div class="tab">
      <div class="tab-handle">
        <span class="badge">23</span>
        <span class="title">sales</span>
        <span class="icon right-arrow"></span>
      </div>
      <div class="tab-content">
        {{> sales }}
      </div>
    </div>

    <div class="tab">
      <div class="tab-handle">
        <span class="badge">
          <img src="http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg"/>
        </span>
        <span class="title">millybee</span>
        <span class="icon right-arrow"></span>
      </div>
      <div class="tab-content">
        {{> profile }}
      </div>
    </div>
  </div>

</div>