<div class="container profile">
  <div class="content loggedout">

    <h1> Activate Exclusive Deals </h1>

    <div class="form login-form">
      <input type="email" placeholder="username or email"/>
      <input type="password" placeholder="password"/>
      <button class="submit">log in</button>
      <button class="switch">register</button>
    </div>

    <div class="form register-form active">
      <input type="email" placeholder="email"/>
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button class="submit">register</button>
      <button class="switch">log in</button>
    </div>
  </div>

  <div class="profile-footer">
    <div class="ext-links">
      <a href="javascript:;">settings</a>
      <a href="javascript:;">account</a>
    </div>
  </div>
</div>