<div class="container profile">
  <div class="content">
    <div class="form login-form">
      <input> </input>
      <input> </input>
      <button>log in</button>
      <div class="or">or</div>
      <a href="javascript:;">registser</a>
    </div>

    <div class="form register-form" hidden>
      <input> </input>
      <input> </input>
      <input> </input>
      <button>log in</button>
      <div class="or">or</div>
      <a href="javascript:;">login</a>
    </div>
  </div>
  <div class="profile-footer">
    <a href="javascript:;">settings</a>
    <a href="javascript:;">account</a>
  </div>
</div>