<div class="container profile">

  <div class="user-image">
    <img src="http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg"/>
    <h2>Natalie Smith</h2>
  </div>

  <div class="content">
    <div class="username">
      Natsmiles
    </div>
    <div class="bio">
      I like the stuff that helps me do the stuff I like to do a lot and stuff like that. Yeah, you knaw?
    </div>
    <div class="list-item profile">
      <span class="icon">
        <i class="ss-icon">&#x27A1;</i>
      </span>
      <span class="number">239</span>
      <span class="description">products</span>
    </div>
    <div class="list-item profile">
      <span class="icon">
        <i class="ss-icon">&#x27A1;</i>
      </span>
      <span class="number">43</span>
      <span class="description">followers</span>
    </div>
    <div class="list-item profile">
      <span class="icon">
        <i class="ss-icon">&#x27A1;</i>
      </span>
      <span class="number">50</span>
      <span class="description">following</span>
    </div>
  </div>

  <div class="profile-footer">
    <div class="ext-links">
      <a href="javascript:;">settings</a>
      <a href="javascript:;">account</a>
    </div>
  </div>
</div>