<div class="container sales">

  <div class="content">

    <div class="header">
      <span class="title">
        sales
      </span>
      <span class="number">
        34
      </span>
    </div>

    <div class="list-item deal">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        Select Adidas Men's Originals SL Loop Runner Sneakers starting at $59.98
      </div>
    </div>

    <div class="list-item deal">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        50% off First Impressions Tops and Bottoms
      </div>
    </div>

    <div class="list-item deal">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        This is an test for extremely long descriptions to make sure that they fit inside the design, This is an test for extremely long descriptions to make sure that they fit inside the design
      </div>
    </div>

    <div class="list-item deal">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        Select Adidas Men's Originals SL Loop Runner Sneakers starting at $59.98
      </div>
    </div>

    <div class="list-item deal">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        50% off First Impressions Tops and Bottoms
      </div>
    </div>

    <div class="list-item deal">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        Select Adidas Men's Originals SL Loop Runner Sneakers starting at $59.98
      </div>
    </div>

    <div class="list-item deal">      
      <div class="icon">
        <i class="ss-icon">&#x21AA;</i>
      </div>
      <div class="description">
        50% off First Impressions Tops and Bottoms
      </div>
    </div>

  </div>

  <div class="view-all">
    view all
  </div>

</div>